<%if @program_semester != nil then %>
<ul class="program_per_semester_ul">
	<table class="table table-hover">
		<thead>
			<th>#</th>
			<th>Nombre de Maestria</th>
			<th>Nombre de Semestre</th>
			<th>Opciones</th>
		</thead>
		<tbody>
			<%@program_semester.each_with_index do |ps, index|%>
			<tr>
				<td><%= index + 1%></td>
				<td><%=ps.program.name%></td>
				<td><%=ps.semester.name%></td>
				<td>
					<%= link_to image_tag("topclass.png", :border=>0),{:remote => true,:action => "load_charts", :semesterId => ps.semester_id, :page => params[:page] } %>
					
					<%= link_to image_tag("topclass.png", :border=>0),{:remote => true,:action => "notifications", :semesterId => ps.semester_id, :page => params[:page] } %>
					
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
</ul>
<%= will_paginate @program_semester%>
<% end %>