<% provide(:title, 'All programs') %>

<h1>All programs</h1>
<p align="center"><%= link_to "New Program", new_program_path, :class => 'btn btn-primary'  %></p>
<%= will_paginate %>
<ul class="programs">
  <table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Code</th>
      <th>Name</th>
      <th>Objetive</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @programs.each do |program| %>
      <tr>
        <td><%= program.id %></td>
          <td><%= program.code %></td>
        <td><%= link_to program.name, program_path(program) %></td>
          <td><%= program.objective %></td>
        <td>
          <%= link_to 'Registered', list_registered_path(program), :class => 'btn btn-mini' %>
          <%= link_to 'Edit', edit_program_path(program), :class => 'btn btn-mini' %>
          <%= link_to 'Delete', program_path(program), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</ul>
<%= will_paginate %>
<p align="center"><%= link_to "New Program", new_program_path, :class => 'btn btn-primary'  %></p>


