<% provide(:title, I18n.t('programas.titulo')) %>

<h1><%= I18n.t('programas.titulo') %></h1>
<p align="center"><%= link_to I18n.t('programas.nuevo'), new_program_path, :class => 'btn btn-primary'  %></p>
<%= will_paginate %>
<ul class="programs">
  <table class="table table-striped">
  <thead>
    <tr>
      <th><%= I18n.t('programas.id') %></th>
      <th><%= I18n.t('programas.codigo') %></th>
      <th><%= I18n.t('programas.nombre') %></th>
      <th><%= I18n.t('programas.objetivo') %></th>
      <th><%= I18n.t('programas.acciones') %></th>
    </tr>
  </thead>
  <tbody>
    <% @programs.each do |program| %>
      <tr>
        <td><%= program.id %></td>
          <td><%= program.code %></td>
        <td><%= link_to program.name, program_path(program) %></td>
          <td><%= program.objective %></td>
        <td>
          <%= link_to I18n.t('programas.registrados'), list_registered_path(program), :class => 'btn btn-mini' %>
          <%= link_to I18n.t('editar'), edit_program_path(program), :class => 'btn btn-mini' %>
          <%= link_to I18n.t('delete'), program_path(program), :method => :delete, :confirm => I18n.t('seguro'), :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</ul>
<%= will_paginate %>
<p align="center"><%= link_to I18n.t('programas.nuevo'), new_program_path, :class => 'btn btn-primary'  %></p>


