


<% provide(:title, 'Todas las materias por programa') %>

<h1><%= I18n.t('programas.materias.titulo') %></h1>

<ul class="subjects">
  <%= p_fieldset('default',legend: I18n.t('programas.materias.subtitulo'),style: 'margin-bottom:10px') do %>
  <p align="center"><%= link_to I18n.t('programas.materias.volver'), list_program_path, :class => 'btn' %> </p>
  <p><%= I18n.t('materias.estudiantes.instruccion') %> </p>
  <%= p_datatable('tbl',columns: @subject_columns,datasource: @subjects,rowkey: 'id',caption: I18n.t('programas.materias.titulo') ,paginator: { rows: 20 },selectionMode: 'single' ) %>
  <p></p>
  <p align="center"><%= link_to I18n.t('programas.materias.volver'), list_program_path, :class => 'btn' %> </p>
  <% end %>
</ul>

