<li>
<%#= I18n.locale = :es %>
  <%= gravatar_for user, size: 52 %>
  <%= link_to user.firstname+" "+user.lastname, user %>
  <% if current_user.admin? %>
    <%= user.usertype %>
  <% end %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to I18n.t('delete'), user, method: :delete,
      data: { confirm: I18n.t('seguro') } %>
    <% if user.status == "Activo" %>
      | <%= link_to I18n.t('disable'), user_path(user,:disable => 1),
        data: { confirm: I18n.t('seguro') } %>
    <% end %>
    <% if user.status == "Inactivo" %>
      | <%= link_to I18n.t('enable'), user_path(user,:disable => 0),
        data: { confirm: I18n.t('seguro') } %>
    <% end %>
  <% end %>
</li>
