<% provide(:title, @user.firstname+" "+@user.lastname) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user, size: 52  %>
        <%= @user.firstname %> <%= @user.lastname %>
      </h1>

      <%= @user.code %>, <%= @user.identificationtype %>, <%= @user.identification %>, <%= @user.status %>, <%= @user.usertype %>, <%= @user.email %>
    </section>
  </aside>
  <div class="span8">
    <% if @user.programs.any? %>
      <h3>Programs</h3>
      <ol class="programs">
        <%= render @programs %>
      </ol>
      <%= will_paginate @programs %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="span8">

    <% if @user.preregister_subjects.any? %>
      <% if @user.usertype.eql?("Estudiante") && !@program.nil?%>
        <h3><%=I18n.t('usuario.preregistro')+" "+@program.name %></h3>

      <ol class="programs">
        <%= render @preregister_subjects %>
      </ol>
      <%= will_paginate @preregister_subjects %>
    <% end %>
    <% end %>
  </div>
</div>

