<% provide(:title, I18n.t('programas.titulo')) %>
<br/>
<h1><%= I18n.t('forecast.titulo') %></h1>
<ul class="programs">
  <table class="table table-striped">
  <thead>
    <tr>
      <th><%= I18n.t('programas.id') %></th>
      <th><%= I18n.t('programas.codigo') %></th>
      <th><%= I18n.t('programas.nombre') %></th>
      <th><%= I18n.t('forecast.escenarios') %></th>
    </tr>
  </thead>
  <tbody>
    <% @programs.each do |program| %>
      <tr>
        <td><%= program.id %></td>
          <td><%= program.code %></td>
        <td><%= link_to program.name, program_path(program) %></td>
        <td>
          <%= link_to "30%", forecast_scenario_path(:program_id =>program.id,:percentage=>30), :class => 'btn btn-mini' %>
          <%= link_to "50%", forecast_scenario_path(:program_id =>program.id,:percentage=>50), :class => 'btn btn-mini' %>
          <%= link_to "70%", forecast_scenario_path(:program_id =>program.id,:percentage=>70), :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</ul>
