<% provide(:title, 'Create Subject/Teacher') %>
<h1>Create Subject/Teacher Relation</h1>
<div class="row">
  <div class="span6 offset3">

    


    <%= form_for :teachersubject, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
    <%= f.label :Subject %>  <%= collection_select(:subject_id, 0, Subject.all, :id, :name) %>
    <%= f.label :Teacher %>  <%= collection_select(:user_id, 0, User.where(usertype: 'Profesor'), :id, :firstname) %>
        <p align="center">
           <%= f.submit "Add new subject", class: "btn btn-primary" %> 
 <%= link_to "Go Back", list_teachersubjects_path, class: "btn" %> 
     
    </p> 
      
<% end %>

  </div>
</div>
