<% provide(:title, 'Create Subject/Teacher') %>
<h1>Create Subject/Teacher Relation</h1>
<div class="row">
  <div class="span6 offset3">

    


    <%= form_for @teachersubject, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
     

    <%= f.label :Subject %>  <%= f.select(:subject_id, Subject.all.map {|lc| [lc.name]} ) %>
    <%= f.label :Teacher %>  <%= f.select(:user_id, User.where(usertype: 'Profesor').map {|lc| [lc.lastname] } ) %> 
        <p align="center">
           <%= f.submit "Add new subject", class: "btn btn-primary" %> 
 <%= link_to "Go Back", list_teachersubjects_path, class: "btn" %> 
     
    </p> 
      
<% end %>

  </div>
</div>
