<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
    	  <%= link_to image_tag("TopClass_Logo_Horizontal.png", alt: "TopClass"), root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Inicio", root_path %></li>
          <% if signed_in? %>        
            <% if admin? %>
            	<li><%= link_to "Users", users_path %></li>
            	<li><%= link_to "Programs", programs_path %></li>
            	<li><%= link_to "Subjects", subjects_path %></li>
            <% end %>
            <% if coordinador? %>
            	<li><%= link_to "Dashboard", dashboard_path %></li>
            	<li><%= link_to "Forecast", dashboard_path %></li>
            <% end %>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Cuenta <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Informacion de usuario", current_user %></li>
                <li><%= link_to "Editar usuario", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Salir", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
            <li><%= link_to "Ayuda", help_path %></li>
          <% else %>
            <li><%= link_to "Ingresar", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
